div {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 22px;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #666;
    border-radius: 6px;
    font-size: 16px;
    background: #ffffff;
    color: #000000;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #007bff;
}

button {
    padding: 12px;
    font-size: 15px;
    color: white;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    width: 50%;
    font-weight: bold;
}

button:hover {
    background-color: #444;
    border-color: #666;
}

.photos-link {
    display: block;
    background: #28282a;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.photos-link:hover {
    background: #1c1c20;
}

.save-btn {
    background-color: #383b40;
    border-color: #1a1452;
}

.save-btn:hover {
    background-color: #17171d;
}

.back-arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: #404040;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #222222;
}











  